ul {
	margin: 0
}

header {
	background: rgba(0, 0, 0, 0.4);
}

nav {
	background: transparent;
	height: 50px
}

#banner {
	background: transparent;
	height: 700px
}

nav ul {
	margin: 0;
	list-style: none;
	float: right;
}

nav ul li,
nav .logo {
	display: inline-block;
	line-height: 50px;
	margin-right: 20px
}

nav ul li a,
nav .logo a {
	line-height: inherit;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff
}

nav .logo {
	float: left;
	padding: 10px
}

#banner .inner {
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 160px;
	color: #fff;
}

#banner .inner h1 {
	margin: 0
}

button {
	border: none;
	background: #333;
	color: #eee;
	padding: 10px
}

#banner button {
	padding: 14px 60px
}

#banner .inner .more {
	margin-top: 280px
}

.logo {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
}


/*.active{
	border-bottom:4px solid #fff;
}*/

h1 {
	padding: 12px;
	border-top: 2px solid #FFF;
	border-bottom: 2px solid #fff
}

h2 {
	font-size: 30px
}

h3 {
	font-size: 24px
}

p {
	font-size: 18px;
	letter-spacing: 1px
}

#main-btn {
	padding: 14px 28px;
	font-size: 20px;
	letter-spacing: 4px;
	border-radius: 6px;
	background: #18a
}

.green-section {
	text-align: center;
	background: #089DB0;
	padding: 100px 0;
	color: #fff
}

.wrapper {
	max-width: 1080px;
	margin: 0 auto
}

.hr {
	width: 100px;
	height: 2px;
	margin: 20px auto;
}

.green-section .hr {
	background: #078494;
	width: 60%
}

.green-section .icon-group .icon {
	display: inline-block;
	width: 80px;
	height: 80px;
	background: #0D6F7C;
	transform: rotate(45deg);
	margin: 20px
}

.icon-group {
	margin-top: 20px
}

.gray-section {
	background: #252F34
}

.gray-section .img-section {
	width: 45%
}

.img-section img {
	width: 100%
}

.gray-section .text-section {
	width: 55%;
	color: #FFF
}

.article-preview>div {
	float: left;
	font-size: 0
}


/*奇偶选择器*/

.article-preview:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.05)
}

.article-preview:after {
	clear: both;
	content: '';
	display: block;
}

.text-section {
	position: relative;
	top: 68px;
	left: 50px
}

.text-section h2 {
	margin-bottom: 20px
}

.text-section>* {
	max-width: 90%
}

.purple-section {
	text-align: center;
	background: #3f3965;
	color: #fff;
	padding: 80px
}

.purple-section .sub-heading {
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.purple-section .heading-wrapper {
	text-align: center;
}

.purple-section .hr {
	background: #373259;
	width: 60%;
}

.card-group {
	width: 50%;
	margin: 0 auto;
}

.card {
	float: left;
	width: 50%;
	padding: 50px;
	min-height: 300px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.clearfix:after {
	clear: both;
	content: '';
	display: block;
}

.card:first-child {
	background: rgba(0, 0, 0, 0.04)
}

.card:nth-child(2) {
	background: rgba(0, 0, 0, 0.08)
}

.card:nth-child(3) {
	background: rgba(0, 0, 0, 0.12)
}

.card:nth-child(4) {
	background: rgba(0, 0, 0, 0.16)
}

footer {
	background: #333333;
	color: #fff;
	min-height: 200px;
	text-align: center;
}

ul .share-group {
	display: block;
	width: 1080px;
	margin: 0 auto;
	padding: 50px
}

.share-group li {
	display: inline-block;
	padding: 10px
}

.copy {
	padding: 20px
}

.mian-warpper {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.mask {
		display: none;
	position: fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background:rgba(0,0,0,0.3)
}

#sidebar{
	/*display: none;*/
	position: fixed;
	top:0;
	bottom:0;
	right:-300px;
	background: #333333;
		width: 300px;
		transition:right 0.5s
}

#sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0
}

#sidebar ul a {
	text-decoration: none;
	color: #fff;
	padding: 10px 30px;
	display: inline-block;
	width: 100%
}

#sidebar ul a:hover {
	background: #444;
}
.back-to-top{
	position:fixed;
	bottom: 30px;
	right: 30px;
	border:1px solid #888
}
